- nav_add t('activerecord.models.user.other'), '#'
= nav_render

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th
        = t 'activerecord.attributes.user.name'
      %th
        = t 'common.actions'
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.name
        %td
          = link_to t("common.#{user.enabled ? 'disable' : 'enable'}"), toggle_enabled_user_path(user), method: :post, class: "btn btn-sm btn-outline-primary"
