- nav_add t('activerecord.models.exam.other'), '#'
= nav_render

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th
        = t 'activerecord.attributes.exam.id'
      %th
        = t 'activerecord.attributes.exam.title'
      %th
        = t 'activerecord.attributes.exam.summary'
      %th
        = t 'activerecord.attributes.exam.exam_date'
      %th
        = t 'common.actions'
  %tbody
    - @exams.each do |exam|
      %tr
        %td
          = link_to exam.readable_id, exam_path(exam)
        %td
          = exam.title
        %td
          = exam.exercises.size
          = t('activerecord.models.exercise.other')
          %br
          - exam.tags.each do |tag|
            %span.badge.badge-info
              = tag
        %td
          = exam.exam_date
        %td
          = link_to t('common.exam.solutions'), solution_exam_path(exam), class: "btn btn-sm btn-outline-primary"
