.row
  .col-md-6
    - exercise.tags.each do |tag|
      %span.badge.badge-info
        = tag
  .col-md-6.text-right
    = stars_for(exercise)
%br
= exercise.wording

- if include_solution
  %br
  %h3
    = t 'activerecord.attributes.exercise.solution'
  = exercise.solution
