- nav_add t('activerecord.models.exercise.other'), '#'
= nav_render

.btn-group{ role: "group" }
  = link_to new_exercise_path, class: "btn btn-primary" do
    %i.far.fa-file
    &nbsp;
    = t('helpers.actions.new', model: Exercise.model_name.human)
  = link_to archive_exercises_path, class: "btn btn-outline-primary" do
    %i.fas.fa-archive
    &nbsp;
    = t('common.archive')

%br
%br

=link_to t('common.all'), exercises_path, class: "btn #{params[:tag].nil? ? 'btn-outline-dark' : 'btn-link'}"
- @tags.each do |tag|
  = link_to tag.name, exercises_path(params: { tag: tag.name }), class: "btn #{params[:tag] == tag.name ? 'btn-outline-dark' : 'btn-link'}"

%br
%br

%table.table.table-bordered.table-hover.exercises
  %thead
    %tr
      %th
        = t 'activerecord.attributes.exercise.id'
      %th
        = t 'activerecord.attributes.exercise.wording'
      %th
        = t 'activerecord.attributes.exercise.difficulty'
      %th
        = t 'activerecord.attributes.exercise.last_used'
      %th
        = t 'common.actions'
  %tbody
    - @exercises.each do |exercise|
      %tr
        %td
          = link_to exercise.readable_id, exercise_path(exercise)
          - if exercise.flagged
            %i.fas.fa-flag{title: t('activerecord.attributes.exercise.flagged')}
            &nbsp;
        %td
          - if exercise.solution.empty?
            %i.fas.fa-exclamation-triangle{title: t('activerecord.attributes.exercise.pending')}
          != peek(exercise.wording)
          %br
          - exercise.tags.each do |tag|
            %span.badge.badge-info
              = tag
        %td
          = stars_for(exercise)
        %td
          = exercise.last_used_in_exam.try(:exam_date)
          %br
          = "•" * exercise.times_used
        %td
          = link_to t('common.pick'), pick_exercise_path(exercise), remote: true, method: :post, class: "btn btn-sm btn-primary #{'d-none' if (session[:chosen_exercises] || []).include? exercise.id}", data: { id: exercise.id }
          = link_to t('common.unpick'), unpick_exercise_path(exercise), remote: true, method: :post, class: "btn btn-sm btn-warning #{'d-none' unless (session[:chosen_exercises] || []).include? exercise.id}", data: { id: exercise.id }

= content_for :javascript do
  :javascript
    $('.exercises').DataTable({
      order: [[0, "asc"]]
    });
    $(".btn").on('ajax:success', function(event) {
      var data = event.detail[0];
      var id = data.id;
      var total = data.total;

      $("[data-id=" + id + "]").removeClass('d-none');
      $(this).addClass('d-none');
      
      $("#exercises-counter").html(total);
    });
