- nav_add t('activerecord.models.exercise.other'), '#'
= nav_render

= link_to t('helpers.actions.new', model: Exercise.model_name.human), new_exercise_path, class: "btn btn-primary"

%br
%br

=link_to t('common.all'), exercises_path, class: "btn #{params[:tag].nil? ? 'btn-outline-dark' : 'btn-link'}"
- @tags.each do |tag|
  = link_to tag.name, exercises_path(params: { tag: tag.name }), class: "btn #{params[:tag] == tag.name ? 'btn-outline-dark' : 'btn-link'}"

%br
%br

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th
        = t 'activerecord.attributes.exercise.id'
      %th
        = t 'activerecord.attributes.exercise.wording'
      %th
        = t 'activerecord.attributes.exercise.difficulty'
      %th
        = t 'common.actions'
  %tbody
    - @exercises.each do |exercise|
      %tr
        %td
          = link_to exercise.readable_id, exercise_path(exercise)
        %td
          != peek(exercise.wording)
          %br
          - exercise.tags.each do |tag|
            %span.badge.badge-info
              = tag
        %td
          = stars_for(exercise)
        %td
          .btn-group{ role: "group" }
            = link_to t('common.edit'), edit_exercise_path(exercise), class: "btn btn-sm btn-outline-primary"
            = link_to t('activerecord.models.actions.duplicate'), duplicate_exercise_path(exercise), method: :post, class: "btn btn-sm btn-outline-primary"
            - if (session[:chosen_exercises] || []).include? exercise.id
              = link_to t('common.unpick'), unpick_exercise_path(exercise), method: :post, class: "btn btn-sm btn-warning"
            - else
              = link_to t('common.pick'), pick_exercise_path(exercise), method: :post, class: "btn btn-sm btn-primary"
