- nav_add t('activerecord.models.exercise.other'), exercises_path
- nav_add @exercise.readable_id, '#'
= nav_render

= render partial: "/exercises/display", locals: { exercise: @exercise, include_solution: true }

%br

.btn-group{ role: "group" }
  = link_to t('common.edit'), edit_exercise_path(@exercise), class: "btn btn-outline-primary"
  = link_to t('activerecord.models.actions.duplicate'), duplicate_exercise_path(@exercise), method: :post, class: "btn btn-outline-primary"
  - if (session[:chosen_exercises] || []).include? @exercise.id
    = link_to t('common.unpick'), unpick_exercise_path(@exercise), method: :post, class: "btn btn-warning"
  - else
    = link_to t('common.pick'), pick_exercise_path(@exercise), method: :post, class: "btn btn-primary"
