<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title><%== page_title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to t('common.brand'), root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to t('activerecord.models.exercise.other'), exercises_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('activerecord.models.exam.other'), exams_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to new_exam_path, class: "nav-link" do %>
            <i class="fas fa-clipboard-list"></i>
            <span class="badge badge-pill badge-primary">
              <%= (session[:chosen_exercises] || []).size %>
            </span>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            <%= current_user.name %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to t('oauth.logout'), logout_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<main role="main" class="container">

  <%= yield %>

  <div style="height: 10vh"></div>

</body>
</html>
